/*--------------------------------------------
Images
--------------------------------------------*/

.images {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  .upper, .main {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat; }
}


/*-------------------
Main
--------------------*/

.mainWrap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: backgroundLead .625s ease-out forwards;
}

.main {
  background-repeat: no-repeat;
  background-position: center bottom;;
  animation: fadeIn 38s ease-out forwards;
  animation-delay: .65s;
}



/*-------------------
Upper Side
--------------------*/

.upperWrap {
  width: 38%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideWrap .625s ease-out forwards;
  animation-delay: .6s;
}

.upper {
  background-position: 33% 120%;
  /*background-position: bottom center;*/
  transform: scale(1) translateX(100%);
  animation: slideUpper 38s ease-out forwards;
  transform-origin: 60% 40%;
  animation-delay: 1.3s;
}



/*-------------------
Filter
--------------------*/

/*.filterNormal, .filterHard {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../../assets/filter.jpg');

}

.filterNormal {
  animation: filterAppear 1s ease-out forwards;
}

.filterHard {
  animation: filterAppearHard 1s ease-out forwards;
}*/



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes fadeIn {
  0% { opacity: 1 }
  1% { opacity: 1 }
  1.64% { opacity: 1; transform: scale(1) translateX(0); }
  100% { opacity: 1; transform: scale(1.05) translateX(30px); }
}

@keyframes slideWrap {
  0% { transform: translateX(-100%); opacity: 0}
  60%  { opacity: .4 }
  100%  { transform: translateX(0); opacity: 1 }
}

@keyframes slideUpper {
  0% { transform: scale(1) translateX(5px); opacity: 0; }
  3.65% { transform: translateX(0px) scale(1.01); opacity: 0; opacity: 1; }
  100% { transform: scale(1.1) translate(-3%); opacity: 1}
}

@keyframes backgroundLead {
  0% { height: 62vh; margin-top: 38vh; }
  100% { height: 100vh; margin-top: 0; }
}

@keyframes filterAppear {
  0% { opacity: 0;}
  100% { opacity: .2}
}

@keyframes filterAppearHard {
  0% { opacity: 0;}
  100% { opacity: .28}
}
