@import './nextslide.css';
@import './scrollbar.css';
@import './close.css';

/*----------------------------------------
General
----------------------------------------*/

.container {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: default;
  overflow: hidden;
  display: flex;
  align-items: center;
}



/*-------------------
Content
-------------------*/

.content {
  height: 60%;
  display: flex;
  align-items: center;
}



/*--------------------------------------
Background
--------------------------------------*/

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/*-------------------
Image
-------------------*/

.backgroundImage {
  width: inherit;
  height: inherit;
  position: fixed;
  left: 0;
  top: 0;
  background: no-repeat center;
  background-size: cover;
}


/*-------------------
Header
-------------------*/

.backgroundHeader {
  font-family: Soleil ExtraBlack;
  font-size: 380px;
  color: rgba(255, 255, 255, 0.05);
  letter-spacing: 25px;
  position: absolute;
  top: 50%;
  left: 0.6%;
  margin-top: 0;
  transform: translateY(-50%);
}
