@import '../../../../../wrap/styles/mixins/fontsharper.css';
@import '../../../../../wrap/styles/mixins/clearfix.css';
@import './keyframes.css';
@import './animations.css';


/*------------------------------------------------------------
General
------------------------------------------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}


/*------------------------------------------------------------
Introduction
------------------------------------------------------------*/

.introduction {
  padding-left: 128px;

  &Header {
    @mixin fontSharper;
    font-family:  Tw Cen Regular;
    font-size: 36px;
    opacity: 0 }

  &Text {
    @mixin fontSharper;
    font-family: Soleil Regular;
    font-size: 15px;
    line-height: 22px;
    width: 360px;
    cursor: default;
    opacity: 0 }
}



/*------------------------------------------------------------
Content Block
------------------------------------------------------------*/

.contentBlock {
  min-width: 500px;
  min-height: 320px;
  max-height: 400px;
  margin-left: 207px;

  &:hover .surname {
    color: rgba(255, 255, 255, .68); }
}


/*----------------------------------------
Headers
----------------------------------------*/

.headers {
  width: auto;
  position: relative;
  left: -30px;
  display: flex;
  flex-direction: column;
}


/*--------------------
Surname
--------------------*/

.surname {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  letter-spacing: 1.2px;
  font-size: 38px;
  color: rgba(255, 255, 255, .32);
  margin: 29px 0 0 30px;
  transition: color .6s ease-in-out;
  opacity: 0;
}


/*--------------------
Name
--------------------*/

.name {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-weight: lighter;
  font-size: 26px;
  margin: -19px 0 0 30px;
  opacity: 0;
}


/*--------------------
Underline
--------------------*/


.underline, .underlineReversed {
  width: 218px;
  height: 2px;
  background-color: white;
  display: block;
  margin: -7px 0 49px 0;
  transform: scale(0);
}

.underline {
  transform-origin: left;
}

.underlineReversed {
  transform-origin: right;
}


/*--------------------
Text
--------------------*/

.text {
  @mixin fontSharper;
  font-family: Soleil Regular;
  font-size: 15px;
  line-height: 22px;
  margin: -9px 0 0 0;
  letter-spacing: .1px;
  opacity: 0;
}


/*--------------------
Reversed
--------------------*/

.headersReversed {
  left: 0;

  .surname, .name {
    margin-left: -2px; }
}




/*----------------------------------------
Content Block Type
----------------------------------------*/

/*--------------------
Verctical
--------------------*/

.william, .mike {
  height: 60vh;
  width: 282px;
  min-height: 320px;
  max-height: 400px;
  background-position: 50% 0;
  opacity: 0;
}

.william {
  float: left;
  margin-right: 30px;
}

.mike {
  float: right;
  margin-left: 30px;
}


/*--------------------
Square
--------------------*/

.ken, .renzo {
  height: 282px;
  width: 282px;
  background-position: center;
  opacity: 0;
}

.ken {
  float: left;
  margin-right: 30px;
}

.renzo {
  float: right;
  margin-left: 30px;
}
