@import '../../wrap/styles/mixins/fontsharper.css';
@import '../../wrap/styles/mixins/clearfix.css';
@import '../../wrap/styles/mixins/pointerline.css';

/*--------------------------------------------
General
--------------------------------------------*/

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.wrap {
  position: relative;
  transform: translateY(-50%);
  top:50%;
  left: 0;
  margin-left: 18.25%;
  width: 600px;
  height: auto;
  z-index: 2;

  @mixin clearFix;
}



/*----------------------
Filter
----------------------*/

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/textfilter.png');
  background-size: 200%;
  transition: opacity 4s ease-out;
  z-index: 1;
}



/*----------------------
Headers
----------------------*/

.headersWrap {
  width: 100%;
  height: 180px;
  position: relative;

  .mainHeader, .subHeader {
    @mixin fontSharper;
    font-weight: normal;
    display: block; }
}


/*----------------------
Main Header
----------------------*/

.mainHeader {
  font-family: Soleil Book;
  font-size: 180px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, .18);
  margin: 0 0 -10px -16px;

  opacity: 0;
  animation: fadeMainHeader 1s linear forwards;
  animation-delay: 1.39s;
}


/*----------------------
Sub Header
----------------------*/

.subHeader {
  font-family: Tw Cen Regular;
  font-size: 42px;
  letter-spacing: 2px;
  margin: 0;
  transform: translateY(-59px);

  opacity: 0;
  animation: slideSubHeader .62s ease-out forwards;
  animation-delay: .76s;
}


/*----------------------
Description
----------------------*/

.description {
  @mixin fontSharper;
  font-family: Soleil Book;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  width: 600px;
  display: inline-block;
  margin: 31px 0 0 0;
  cursor: default;
  opacity: 0;
  animation: slideDescription 1s ease-out forwards;
  animation-delay: 1.38s;
}


/*--------------------------------------------
Animating on Load
--------------------------------------------*/

.fadeContainer {
  animation: fadeContainer 1s ease-out forwards;
}

.unclipTop {
  animation: unclipTop 1s ease-out forwards;
}

.unclipBottom {
  animation: unclipBottom 1s ease-out forwards;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

/*@keyframes slideContainer {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}*/

/*Background*/

@keyframes unclipTop {
  from { clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%); }
  to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

@keyframes unclipBottom {
  from { clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0); }
  to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

@keyframes fadeContainer {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeFilter {
  from { opacity: 0 }
  to { opacity: 0.05 }
}


/*Content*/

@keyframes fadeMainHeader {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slideSubHeader {
  from { transform: translate(7px, -59px); opacity: 0; }
  to { transform: translate(0px, -59px); opacity: 1; }
}

@keyframes slideDescription {
  0% { opacity: 0; transform: translateY(6px); }
  100% { opacity: 1; transform: translateY(0); }
}
