@import '../../../wrap/styles/mixins/fontsharper.css';

/*--------------------------------------------
Social Networks
--------------------------------------------*/

.networks {
  display: inline-flex;
  flex-direction: column;
  margin-left: auto;
}



/*----------------------
Social Link
----------------------*/

.socialLink {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-weight: 500;
  font-size: 28px;
  display: block;
  margin-top: 25px;
  cursor: pointer;

  &:first-child {
    margin-top: 54px; }

  &Margin {
    margin-top: 51px;
  }

  &:hover .socialIcon {
    background-color: rgba(255, 255, 255, 1); }
}



/*----------------------
Link Text
----------------------*/

.linkText {
  height: 24px;
  display: inline-block;
  margin: 0;
  opacity: 0;
  animation: slideText 1.14s ease-out forwards;
  animation-delay: 1.25s;
}



/*----------------------
Icons
----------------------*/

.socialIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0 30px 0 0;
  background-color: rgba(255, 255, 255, .6);
  opacity: 0;
  transition: background-color .6s ease-out;
  animation: fadeIcon 1.14s ease-out forwards;
  animation-delay: 1.25s;


  &:hover {
    background-color: rgba(255, 255, 255, 1); }
}

.twitter {
  mask-image: url('../../../wrap/assets/icons/twitter.svg');
  transform: translateY(6px);
}

.facebook {
  mask-image: url('../../../wrap/assets/icons/facebook.svg');
  transform: translateY(5px);
}

.pinterest {
  mask-image: url('../../../wrap/assets/icons/pinterest.svg');
  transform: translateY(7px);

}

.google {
  mask-image: url('../../../wrap/assets/icons/google.svg');
  transform: translateY(9px);
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes slideText {
  from { transform: translateX(6px); opacity: 0;}
  to { transform: translateX(0); opacity: 1}
}

@keyframes fadeIcon {
  from { opacity: 0; }
  to { opacity: 1; }
}
