@import '../../../wrap/styles/mixins/socialheaders.css';
@import '../../../wrap/styles/mixins/pointerline.css';
@import '../../../wrap/styles/mixins/fontsharper.css';
@import './social.css';

/*--------------------------------------------
General
--------------------------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;

  .wrap {
    width: 800px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
}



/*----------------------
Background
----------------------*/

.background {
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100%;
}



/*----------------------
Headers
----------------------*/

.headersWrap {
  height: 52px;
  position: relative;
}

.backgroundHeader {
  @mixin backgroundHeader;
}

.contextHeader {
  @mixin contextHeader;
}



/*--------------------------------------
Email Form
--------------------------------------*/

.emailForm {
  display: inline-flex;
  flex-direction: column;
  top: 0;
  left: 0;
}



/*-------------------
Inputs
-------------------*/

.input {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-size: 18px;
  margin: 6px 0;
  padding-left: 19px;
  opacity: 0;
  animation: slideInput 1.14s ease-out forwards;
  animation-delay: 1.25s;

  &::placeholder {
    transition: color .625s ease-out; }

  &:hover::placeholder {
    color: white; }

  &:active, &:focus {
    cursor: text; }

  &Margin {
    margin-top: 41px; }

  &Tall {
    height: 111px;
    padding-top: 17px;
    margin-top: 6px; }
}



/*-------------------
Send Button
-------------------*/

.sendWrap {
  text-align: right;
  margin-top: 27px;
}

.button {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-size: 24px;
  margin-right: -1px;
  padding: 5px 5px 0 5px;
  cursor: pointer;
  display: inline-block;
  float: right;
  opacity: 0;
  animation: slideButton 1.25s ease-out forwards;
  animation-delay: 1.4s;

  &:hover + .pointerLine {
    opacity: 1;
    transform: scaleX(1) translateX(-25px); }
}



/*-------------------
Pointer Line
-------------------*/

.pointerLine {
  @mixin pointerLine;
  margin-bottom: -6px;
}



/*--------------------------------------------
Animating  on Load
--------------------------------------------*/

.fadeContainer {
  animation: fadeContainer 1s ease-out forwards;
}

.unclipContainer {
  animation: unclipContainer 1s ease-out forwards;
}

.fadeBackground {
  animation: fadeBackground .625s ease-out forwards;
}

.scaleBackground {
  animation: scaleBackground 60s ease-out forwards;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes unclipContainer {
  from { clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%); }
  to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

@keyframes fadeContainer {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleBackground {
  0% { transform: scale(1); }
  100% { transform: scale(1.06); }
}


/*Content*/

@keyframes slideButton {
  from { transform: translateX(-6px); opacity: 0 }
  to { transform: translateX(0px); opacity: 1 }
}

@keyframes growLine {
  from { transform: scaleX(0) }
  to { transform: scaleX(1) }
}

@keyframes slideInput {
  from { opacity: 0; transform: translateY(4px) }
  to { opacity: 1; transform: translateY(0) }
}



/*--------------------------------------------
Image Fixes
--------------------------------------------*/

@media (min-width: 1400px) {
  .background {
    background-size: cover;
  }
}
