/*--------------------------------------------
Number
--------------------------------------------*/

.wrap {
  transition: all .62s ease-out;
}

.number {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-size: 64px;
  color: rgba(255, 255, 255, .9);
  display: inline-block;
  float: left;
  line-height: 42px;
  width: 41px;
  position: absolute;
  
  opacity: 0;
  transform: translateX(-43px);
  animation: fadeCurrent .62s ease-out forwards;
  animation-delay: .12s;
}



/*--------------------------------------------
Animations
--------------------------------------------*/

@keyframes fadeCurrent {
  from { opacity: 0; transform: translate(-43px, 10px) }
  to { opacity: 1; transform: translate(-43px, 0px) }
}
