@import '../../../../../wrap/styles/mixins/fontsharper.css';
@import './animations.css';


/*----------------------------------------
General
----------------------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}



/*----------------------------------------
Introduction
----------------------------------------*/

.introduction {
  padding-left: 128px;

  &Header {
    @mixin fontSharper;
    font-family:  Tw Cen Regular;
    font-size: 36px;

    opacity: 0;
    animation: slideHeader 1s ease-out forwards;
    animation-delay: 1s;
  }

  &Text {
    @mixin fontSharper;
    font-family: Soleil Regular;
    font-size: 15px;
    line-height: 22px;
    width: 360px;
    cursor: default;

    opacity: 0;
    animation: slideText 1s ease-out forwards;
    animation-delay: 1s; }
}



/*----------------------------------------
Content Block
----------------------------------------*/

.contentBlock {
  width: 70vh;
  min-width: 550px;
  height: 100%;
  max-height: 500px;
  margin-left: 207px;
  display: flex;

  &:last-child {
    margin-right: 107px; }

  &:hover .companyHeader {
    color: rgba(255, 255, 255, .68); }
}


/*----------------------------------------
Description
----------------------------------------*/

.description {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*--------------------
Headers
--------------------*/

.companyHeader, .projectHeader {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
}

.companyHeader {
  letter-spacing: 1.2px;
  font-size: 38px;
  color: rgba(255, 255, 255, .32);
  margin: 29px 0 0 0px;
  transition: color .6s ease-in-out;

  opacity: 0;
  animation: fadeHeader 2s ease-out forwards;
  animation-delay: 1.625s;
}

.projectHeader {
  font-weight: lighter;
  font-size: 26px;
  margin: -21px 0 0 -1px;

  opacity: 0;
  animation: slideSubHeader .625s ease-out forwards;
  animation-delay: 1.375s;
}


/*--------------------
Underline
--------------------*/

.underline {
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
  margin: -7px 0 49px 0;


  transform-origin: right;
  transform: scaleX(0);
  animation: growLine 1s ease-out forwards;
  animation-delay: 1s;
}


/*--------------------
Text
--------------------*/

.text {
  @mixin fontSharper;
  font-family: Soleil Regular;
  font-size: 15px;
  line-height: 22px;
  margin: 49px 30px 0 0;

  opacity: 0;
  animation: slideDescription 1s ease-out forwards;
  animation-delay: 1s;
}



/*----------------------------------------
Conent Block types
----------------------------------------*/

/*--------------------
Verctical
--------------------*/

.vertical {

  .imageWrap {
    flex: 1;
    position: relative;
    overflow: hidden;

    clip-path: polygon(0 0, 0 100%, 100% 100%, 0 100%);
    animation: verticalSlide 1s ease-out forwards;
    animation-delay: 1s;

    .image {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: cover;
      box-shadow: 3px 3px 25px 0px rgba(0,0,0,0.3);
    }
  }
}


/*--------------------
Double Image
--------------------*/

.double {

  .description {
    flex: .85;
    justify-content: center;

    .companyHeader, .projectHeader {
      margin-left: 30px; }

    .text {
      margin: 0 0 0 30px; }
  }

  .image {
    flex: 1.15;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      box-shadow: 3px 3px 25px 0px rgba(0,0,0,0.3); }

    img:last-child {
      width: 60%;
      height: auto;
      margin: -35px 0px 0 30px; }
  }
}
