/*-----------------------------------------------------------
Animations
-----------------------------------------------------------*/

/*-------------------
Introduction
-------------------*/

.introduction {
  &Header {
    animation: slideHeader 1s ease-out forwards;
    animation-delay: 1s; }

  &Text {
    animation: slideText 1s ease-out forwards;
    animation-delay: 1s; }
}



/*-------------------
Description
-------------------*/

.contentBlockAnimate {
  .mainHeader {
    animation: fadeHeader 3s ease-out forwards;
    animation-delay: .375s; }

  .subHeader {
    animation: slideSubHeader .625s ease-out forwards;
    animation-delay: .375s; }

  .text {
    animation: slideDescription 1s ease-out forwards;
    animation-delay: .375s; }

  .quote {
    animation: slideQuote 1s ease-out forwards;
    animation-delay: .375s; }
}

.firstChild {
  .mainHeader {
    animation-delay: 1s; }

  .subHeader {
    animation-delay: 1s; }

  .text {
    animation-delay: 1s; }

  .quote {
    animation-delay: 1s; }
}



/*--------------------------------------
Content Blocks Images
--------------------------------------*/

.contentBlockAnimate {

  .vertical {
    animation: verticalAnimate 3s ease-out forwards;
    animation-delay: 1s; }

  .rectangular {
    animation: rectangularAnimate 3s ease-out forwards; }

  .square {
    animation: squareAnimate 3s ease-out forwards; }

  .rectangularReversed  {
    animation: rectangularReversedAnimate 3s ease-out forwards; }

  .rectangular, .square, .rectangularReversed {
    animation-delay: .375s }
}
