@import '../../../../../wrap/styles/mixins/fontsharper.css';
@import '../../../../../wrap/styles/mixins/clearfix.css';
@import './keyframes.css';
@import './animations.css';



/*------------------------------------------------------------
General
------------------------------------------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}


/*----------------------------------------
Introduction
----------------------------------------*/

.introduction {
  padding-left: 128px;

  &Header {
    @mixin fontSharper;
    font-family:  Tw Cen Regular;
    font-size: 36px;
    opacity: 0 }

  &Text {
    @mixin fontSharper;
    font-family: Soleil Regular;
    font-size: 15px;
    line-height: 22px;
    width: 420px;
    cursor: default;
    opacity: 0 }
}



/*----------------------------------------
Content Block
----------------------------------------*/

.contentBlock {
  width: auto;
  min-height: 320px;
  margin-left: 207px;
  display: flex;
  flex-grow: 0;

  &Column {
    width: 610px;
    flex-flow: row wrap; }

  &:hover .mainHeader {
    color: rgba(255, 255, 255, .68); }
}


/*-------------------
Description
-------------------*/

.description {
  width: 360px;

  &Narrow {
    max-width: 210px; }

  &Wide {
    width: 540px; }

  &Square {
    width: 270px }
}


/*-------------------
Headers
-------------------*/

.headers {
  margin: 0 0 -2px -30px;
  display: flex;
  flex-direction: column;

  .mainHeader, .subHeader {
    @mixin fontSharper;
    font-family: Tw Cen Regular;
    opacity: 0; }

  .mainHeader {
    font-size: 38px;
    letter-spacing: 1.2px;
    color: rgba(255, 255, 255, .32);
    margin: 20px 0 0 29px;
    transition: color .6s ease-in-out;
    opacity: 0; }

  .subHeader {
    font-weight: lighter;
    font-size: 26px;
    margin: -21px 0 0 30px;
    opacity: 0; }
}


/*-------------------
Description
-------------------*/

.quote, .text {
  @mixin fontSharper;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: .1px;
  margin: 32px 0 0 0;
  opacity: 0;
}

.quote {
  font-family: Soleil Italic;
}

.text {
  font-family: Soleil Regular;
}



/*-------------------
Quoted Image
-------------------*/

.quotedImageColumn {
  max-width: 287px;
  margin-left: 30px;
  margin-top: auto;
}

.quotedImageRow {
  margin-top: 24px;

  .quote { margin-top: 60px; }
}



/*----------------------------------------
Conent Block Image types
----------------------------------------*/

/*--------------------
Verctical
--------------------*/

.vertical {
  height: 335px;
  width: 237px;
  margin-right: 30px;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0;
}


/*--------------------
Square
--------------------*/

.square {
  height: 286px;
  width: 286px;
  margin: 10px 30px 0 0;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0;
}


/*--------------------
Rectangular
--------------------*/

.rectangular {
  height: 207px;
  width: 285px;
  float: left;
  margin-bottom: 30px;
  opacity: 0;
}

.rectangularReversed {
  margin: 13px 30px 0 0;
}
