@import '../../styles/mixins/fontsharper.css';

/*--------------------------------------------
General
--------------------------------------------*/

.container {
  position: absolute;
  text-align: right;
  bottom: 47px;
  right: 79px;
  z-index: 3;

  &:hover .back {
    color: rgba(255, 255, 255, .8); }
}



/*----------------------
Back
----------------------*/

.back {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-size: 46px;
  font-weight: inherit;
  line-height: 26px;
  color: rgba(255, 255, 255, .2);
  margin: 0;
  letter-spacing: 1px;
  transition: color 1s ease-out;
  cursor: pointer;
  transform: translateY(30px);
  animation: slideBack .625s ease-out forwards;
  animation-delay: .375s;
  opacity: 0;

}



/*----------------------
To Main
----------------------*/

.toMain {
  @mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-size: 18px;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0 0 0 0;
  cursor: pointer;
  transform: translateY(3px);
  animation: slideToMain 1.39s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes slideBack {
  from { transform: translateY(8px); opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

@keyframes slideToMain {
  from { transform: translateX(-6px); opacity: 0; }
  to { transform: translateX(0px); opacity: 1; }
}
