/*----------------------------------------
Close
----------------------------------------*/

.close {
    position: fixed;
    top: 50px;
    padding: 10px 0;
    z-index: 1;
    width: 20px;
    transform: scaleX(0);
    transform-origin: right;
    animation: growIn .625s ease-out forwards;
    animation-delay: .625s;

}



/*--------------------
States
--------------------*/

.closeLine, .closeCross {
  width: 19px;
  height: 2px;
  margin-top: -4px;
  display: block;
  color: white;
  background-color: white;
  transition: transform .3s ease-out;
  cursor: pointer;

  &::before {
    content: '';
    width: 19px;
    height: 2px;
    position: absolute;
    background-color: white;
    transition: transform .3s ease-out;
    cursor: pointer; }
}

.closeCross {
  transform: rotate(-45deg);

  &::before {
    transform: rotate(90deg); }
}



/*--------------------
Animation
--------------------*/

@keyframes growIn {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
