@import '../../../wrap/styles/mixins/fontsharper.css';

/*----------------------------------------
Next Slide
----------------------------------------*/

.nextSlide {
  height: 100%;
  padding-right: 79px;
  margin-left: 128px;
  display: flex;
  flex-direction: column;
  transition: 1s;
  position: relative;
  z-index: 1;

  .nextSlideContent {
    margin: auto 0 -61px 0; }

  .socialShare {
    margin: auto 0 61px 0;
    transition: 3s;
  }
}



/*--------------------
Next Part
--------------------*/

.nextSlideContent {
  text-align: right;
  margin: 0 79px 0 148px;
  position: relative;
  z-index: 4;


  &:hover .articleName {
    color: rgba(255, 255, 255, .60); }

  .articleName {
    @mixin fontSharper;
    margin: 0;
    font-family: Tw Cen Regular;
    font-size: 46px;
    font-weight: inherit;
    color: rgba(255, 255, 255, .4);
    letter-spacing: 1px;
    white-space: nowrap;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
  }

  .nextPart {
    @mixin fontSharper;
    font-family: Tw Cen Semibold;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: inherit;
    white-space: nowrap;
    margin: -13px 0 0 0;
    opacity: 0;
    transform: translateY(3px);
    cursor: pointer;
  }
}



/*--------------------------------------------
Animations
--------------------------------------------*/

.animateArticleName {
  animation: slideArticle .625s ease-out forwards;
}

.animateNextPart {
  animation: slideNext 1.39s ease-out forwards;
  animation-delay: .625s;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes slideArticle {
  from { transform: translateY(8px); opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

@keyframes slideNext {
  from { transform: translateX(-6px); opacity: 0; }
  to { transform: translateX(0px); opacity: 1; }
}
