@import '../../../wrap/styles/mixins/fontsharper.css';

/*----------------------------------------
Next Slide
----------------------------------------*/

.nextSlide {
  height: 100%;
  padding-right: 79px;
  margin-left: 128px;
  display: flex;
  flex-direction: column;
  transition: 1s;

  .nextSlideContent {
    margin: auto 0 -61px 0; }

  .socialShare {
    margin: auto 0 61px 0;
    transition: 3s;
  }
}



/*--------------------
Next Part
--------------------*/

.nextSlideContent {
  text-align: right;
  margin: 0 79px 0 148px;

  &:hover .articleName {
    color: rgba(255, 255, 255, .60); }

  .articleName {
    @mixin fontSharper;
    margin: 0;
    font-family: Tw Cen Regular;
    font-size: 46px;
    font-weight: inherit;
    color: rgba(255, 255, 255, .4);
    letter-spacing: 1px;
    white-space: nowrap;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
  }

  .nextPart {
    @mixin fontSharper;
    font-family: Tw Cen Semibold;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: inherit;
    white-space: nowrap;
    margin: -13px 0 0 0;
    opacity: 0;
    transform: translateY(3px);
  }
}



/*--------------------
Image
--------------------*/

.nextSlideImage {
  height: 100%;
  width: 14vw;
  display: inline-block;
  z-index: 3;
  transition: 1s ease-out;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

  &Animate {
    animation: slideImage 1.625s ease-out forwards;
    animation-delay: .325s; }


  img {
    position: absolute;
    right: 0;
    height: 100vh;
    width: auto;
    transform-origin: right;
    cursor: pointer;
    filter: saturate(150%);
  }
}

.imageShadow {
  height: 102vh;
  width: 30px;
  position: absolute;
  opacity: 0;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0, 0, 0,.24) 100%);

  &Animate {
    animation: slideImageShadow 1.625s ease-out forwards;
    animation-delay: .325s; }
}




/*--------------------------------------------
Animations
--------------------------------------------*/

.animateArticleName {
  animation: slideArticle .625s ease-out forwards;
}

.animateNextPart {
  animation: slideNext 1.39s ease-out forwards;
  animation-delay: .625s;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes slideArticle {
  from { transform: translateY(8px); opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

@keyframes slideNext {
  from { transform: translateX(-6px); opacity: 0; }
  to { transform: translateX(0px); opacity: 1; }
}

@keyframes scaleImage {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1 }
}

@keyframes slideImageShadow {
  from { right: 0; transform: rotate(0); opacity: 0; }
  to { right: calc(14vw - 44px); transform: rotate(2.5deg); opacity: 1 }
}

@keyframes slideImage {
  from { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%) }
  to { clip-path: polygon(32% 0, 100% 0, 100% 100%, 9% 100%) }
}
