@import 'nextslide.css';
@import 'nextslideimage.css';
@import 'background.css';
@import 'scrollbar.css';
@import 'close.css';


/*----------------------------------------
General
----------------------------------------*/

.container {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  display: flex;
  overflow-y: hidden;
  align-items: center;
  animation: fadeContainer .8s ease-out forwards;
}



/*-------------------
Content
-------------------*/

.content {
  height: 60%;
  display: flex;
  align-items: center;
  opacity: 0;
}
