@import './nextslide.css';
@import './scrollbar.css';
@import './close.css';

/*----------------------------------------
General
----------------------------------------*/

.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  display: flex;
  align-items: center;
}



/*-------------------
Content
-------------------*/

.content {
  height: 60%;
  display: flex;
  align-items: center;
}



/*--------------------------------------
Background
--------------------------------------*/

.backgroundWrap {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  animation: backgroundLead .625s ease-out forwards;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: no-repeat center;
  background-size: cover;
  animation: backgroundScale 38s ease-out forwards;
  animation-delay: 1s;
}



/*-------------------
Header
-------------------*/

.backgroundHeader {
  font-family: Soleil ExtraBlack;
  font-size: 380px;
  color: rgba(255, 255, 255, 0.05);
  letter-spacing: 25px;
  position: absolute;
  top: 50%;
  left: 0.6%;
  margin-top: 0;
  transform: translateY(-50%);
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes backgroundLead {
  0% { height: 62vh; margin-top: 38vh; }
  100% { height: 100vh; margin-top: 0; }
}

@keyframes backgroundScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.06); }
}
