@import '../../styles/mixins/fontsharper.css';

/*--------------------------------------------
Logotype
--------------------------------------------*/

.logotype {
  position: fixed;
  bottom: 49px;
  left: 74px;
  z-index: 7;
  transform-origin: left center;
}



/*---------------------
Logo
---------------------*/

.logoWrap {
  display: inline-block;
  float: left;
  animation: scaleLogo .625s ease-out forwards;
}

.logo {
  width: 42px;
  height: 47px;
  display: inline-block;
  background-image: url('./assets/logo-new.png');
  animation: infiniteLoop 38s linear infinite;
}


/*---------------------
Type
---------------------*/

.type {
	@mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-size: 18px;
  font-weight: inherit;
  line-height: 11px;
	letter-spacing: .4px;
  cursor: default;
  opacity: 0;
  animation: slideType 1.39s ease-out forwards;
  animation-delay: 1s;
  float: left;
  margin: 20px 0 0 25px;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes infiniteLoop {
  from { transform: rotateZ(130deg) }
  to { transform: rotateZ(360deg) }
}

@keyframes scaleLogo {
  from { transform: scale(.2) rotateZ(90deg); opacity: 0;}
  to { transform: scale(1) rotateZ(130deg); opacity: 1;}
}

@keyframes slideType {
  from { transform: translateX(8px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
