/*----------------------------------------
Page Swaps
----------------------------------------*/

.enter {
  animation: enterIn .8s cubic-bezier(.05,.32,.53,.99) forwards;
	z-index: 2 !important;
}



/*-----------------
Animation Keyframes
------------------*/

@keyframes enterIn {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}
