/*--------------------------------------------
Pointer Line
--------------------------------------------*/

@define-mixin pointerLine {
  display: inline-block;
  width: 49px;
  height: 2px;
  background-color: white;
  opacity: 0;
  transform: scaleX(1) translateX(-35px);
  transform-origin: left;
  transition: all .625s ease-out;

}
