@import './fontsharper.css';

/*----------------------------------------
Social Headers
----------------------------------------*/

@define-mixin backgroundHeader {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-size: 80px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
  margin: 0 0 0 -2px;
  font-weight: normal;
  line-height: 0.65;
  cursor: default;

  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.39s;
}

@define-mixin contextHeader {
  @mixin fontSharper;
  font-family: Soleil SemiBold;;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: default;
  margin: 0;
  font-weight: normal;
  line-height: 1;
  cursor: default;
  transform: translate(2%, -23px);
  animation: slideIn .62s ease-out forwards;
  opacity: 0;
  animation-delay: .76s;
}


/*
2,598544
1,612
1
0,625
0,390625
0,244140625
0,152587890625
0,095367431640625
*/


/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes slideIn {
  from { transform: translate(2%, -23px); opacity: 0; }
  to { transform: translate(0%, -23px); opacity: 1; }
}
