@import '../../styles/mixins/fontsharper.css';

/*--------------------------------------------
General
--------------------------------------------*/

.container {
  width: 100%;
  height: 118px;
  position: fixed;
  left: 0;
  z-index: 3;
  user-select: none;

  .wrap {
    width: calc(100% - 158px);
    height: 14px;
    position: absolute;
    top: 50%;
    margin: 0 79px;
    transform: translateY(-50%); }

  &NoShare {
    width: 200px;

    .wrap {
      width: 100%;
      margin: 0 0 0 79px; }
  }
}



/*--------------------
Share Block
----------------------*/

.share {
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 0;
}



/*--------------------
Buttons
----------------------*/

.button, .buttonShare {
  @mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-size: 18px;
  font-weight: inherit;
  letter-spacing: 2px;
  float: left;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
  animation: slideButton .777s ease-out forwards;

  &:after {
    content: '';
    width: 0%;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-bottom: 2px solid #fff;
    transition: .9s; }

  &:hover:after {
    width: 98%; }

  &:nth-of-type(2) {
    margin-left: 49px; }
}

/*--- Acitve ---*/

.active:after {
    width: 98%
}




/*--------------------------------------------
Animation Classes
--------------------------------------------*/

.slideInShare {
  animation: slideInShare .777s ease-out forwards;
  float: right;
}

.slideOutShare {
  animation: slideOutShare .777s ease-out forwards;
  float: right;

  &:after {
    transition: .05s; }

  &:hover:after {
    width: 0; }
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes slideButton{
  from { transform: translateY(-8px); opacity: 0; pointer-events: none; }
  to { transform: translateY(0); opacity: 1; pointer-events: auto; }
}

@keyframes slideInShare {
  from { transform: translateX(8px); opacity: 0 }
  to { transform: translateX(0); opacity: 1 }
}

@keyframes slideOutShare {
  from { transform: translateX(0); opacity: 1 }
  to { transform: translateX(-8px); opacity: 0 }
}
