@import '../../../styles/mixins/fontsharper.css';
@import './links.css';

/*--------------------------------------------
Navigation
--------------------------------------------*/

.navigation {
  width: 134px;
  height: 230px;
  position: absolute;
  padding-right: 25px;
  right: 50px;
  bottom: 67px;
  z-index: 2;
  transition: all .38s ease-out;
}



/*--------------------------------------------
Navigation Page Number
--------------------------------------------*/

.navigationPageNumber {
  padding-right: 25px;
  position: absolute;
  bottom: 0;
  right: 7px;
  cursor: pointer;

  &:hover .allPages {
    color: rgba(255, 255, 255, .9); }
}



/*----------------------
All Pages
----------------------*/

.allPages, .allPagesActive {
  @mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-size: 22px;
  display: inline-block;
  opacity: 0;
  transform: translate(0 -3px);
  animation: slideAll 1s ease-out forwards;
  animation-delay: .625s;
  transition: color .805s ease;
}

.allPages {
  color: rgba(255, 255, 255, .4);
}

.allPagesActive {
  color: rgba(255, 255, 255, 1);
}



/*--------------------------------------------
Animations
--------------------------------------------*/

@keyframes slideAll {
  from { transform: translate(9px, -3px); opacity: 0; }
  to { transform: translate(2px, -3px); opacity: 1; }
}
