@import '../../../styles/mixins/fontsharper.css';
@import './links.css';

/*--------------------------------------------
Navigation
--------------------------------------------*/

.navigation {
  width: 134px;
  height: 230px;
  position: absolute;
  padding-right: 25px;
  right: 50px;
  bottom: 67px;
  z-index: 2;
}



/*--------------------------------------------
Navigation Page Number
--------------------------------------------*/

.navigationPageNumber {
  padding-right: 25px;
  position: absolute;
  bottom: 0;
  right: 7px;
  cursor: pointer;

  &:hover .allPages {
    color: rgba(255, 255, 255, .9); }
}


/*----------------------
Current Page
----------------------*/

.currentPage {
  @mixin fontSharper;
  font-family: Tw Cen Regular;
  font-size: 64px;
  color: rgba(255, 255, 255, .9);
  display: inline-block;
  float: left;
  line-height: 42px;
  width: 41px;
  position: absolute;
  transform: translateX(-43px);
  animation: fadeCurrent .625s ease-out forwards;
}



/*----------------------
All Pages
----------------------*/

.allPages, .allPagesActive {
  @mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-size: 22px;
  display: inline-block;
  opacity: 0;
  transform: translate(0 -3px);
  animation: slideAll 1.39s ease-out forwards;
  animation-delay: .625s;
}

.allPages {
  transition: color .625s ease;
  color: rgba(255, 255, 255, .4);
}

.allPagesActive {
  color: rgba(255, 255, 255, 1);
}



/*--------------------------------------------
Animations
--------------------------------------------*/

@keyframes slideAll {
  from { transform: translate(9px, -3px); opacity: 0; }
  to { transform: translate(2px, -3px); opacity: 1; }
}

@keyframes fadeCurrent {
  from { opacity: 0; transform: translate(-43px, 7px) }
  to { opacity: 1; transform: translate(-43px, 0px) }
}



/*--------------------
Page Swaps Animation
--------------------*/


.enter {
  animation: enter .62s ease-out forwards;
  animation-delay: .38s;
  opacity: 0;
}


.exit {
  animation: leave .38s ease-out forwards;
  position: absolute;
}


@keyframes enter {
  0% { transform: translateY(12px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes leave {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-12px); opacity: 0; }
}
