@import '../../wrap/styles/mixins/socialheaders.css';
@import '../../wrap/styles/mixins/fontsharper.css';

/*--------------------------------------------
General
--------------------------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;

  .wrap {
    width: 38%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
}




/*----------------------
Background
----------------------*/

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.backgroundFilter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  animation: fadeFilter 10s ease-out forwards;
}



/*----------------------
Headers
----------------------*/

.headersWrap {
  height: 52px;
  position: relative;
}

.backgroundHeader {
  @mixin backgroundHeader;
}

.contextHeader {
  @mixin contextHeader;
}



/*----------------------
text
----------------------*/

.text {
  @mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-variant: small-caps;
  font-size: 24px;
  margin: 28px 0 0 0;
  cursor: default;
  opacity: 0;
  animation: slideText 0.91s ease-out forwards;
  animation-delay: 1.39s;
}



/*--------------------------------------------
Animating  on Load
--------------------------------------------*/

.fadeContainer {
  animation: fadeContainer 1s ease-out forwards;
}

.unclipContainer {
  animation: unclipContainer 1s ease-out forwards;
}

.fadeBackground {
  animation: fadeBackground .625s ease-out forwards;
}

.scaleBackground {
  animation: scaleBackground 60s ease-out forwards;
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes unclipContainer {
  from { clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%); }
  to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
}

@keyframes fadeContainer {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeFilter {
  from { opacity: 0; }
  to { opacity: .4; }
}

@keyframes fadeBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleBackground {
  0% { transform: scale(1); }
  100% { transform: scale(1.06); }
}

/*Text*/

@keyframes slideText {
  0% { opacity: 0; transform: translateY(8px); }
  100% { opacity: 1; transform: translateY(0); }
}



/*--------------------------------------------
Image Fixes
--------------------------------------------*/

@media (min-width: 1400px) {
  .background {
    background-size: cover;
  }
}
