@import '../../wrap/styles/mixins/socialheaders.css';
@import '../../wrap/styles/mixins/fontsharper.css';

/*--------------------------------------------
General
--------------------------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;

  .wrap {
    width: 38%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
}

.background {
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: test 1s cubic-bezier(.05,.32,.53,.99) forwards;
  /*animation-delay: 4s;*/
}


@keyframes test {
  0% { height: 0; margin-top: 100vh; }
  100% { height: 100vh; margin-top: 0; }
}


/*----------------------
Headers
----------------------*/

.headersWrap {
  height: 52px;
  position: relative;
}

.backgroundHeader {
  @mixin backgroundHeader;
}

.contextHeader {
  @mixin contextHeader;
}



/*----------------------
text
----------------------*/

.text {
  @mixin fontSharper;
  font-family: Tw Cen Semibold;
  font-variant: small-caps;
  font-size: 24px;
  margin: 28px 0 0 0;
  cursor: default;
  opacity: 0;
  animation: fadeIn 1.83s ease-out forwards;
  animation-delay: 1.39s;

  &:last-child {
    /*animation-delay: 1s;*/
  }
}



/*--------------------------------------------
Animation Keyframes
--------------------------------------------*/

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(5%); }
  100% { opacity: 1; transform: translateY(0%); }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(5%); }
  100% { opacity: 1; transform: translateY(0%); }
}
